body {
    background-color: black;
    color: black;
    font-family: Calibri, serif;
}

.background {
    background-image: url("../pictures/backgrounds/avatar.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    filter: blur(0.2vw);
    -webkit-filter: blur(0.2vw);
}

.logo {
    background-color: rgba(163, 114, 57, 0.9);
    width: 120px;
    height: 93px;
    border: 4px solid black;
    border-radius: 133px/107px;
    position: fixed;
    top: 20px;
    left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;
}

.logo img {
    width: 80%;

    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.logo:hover img {
    transform: scale(1.025, 1.025);
}