.notifications {
    margin: 0 8%;
    width: 60%;
}
.notification {
    margin: 30px;
    padding: 10px;
    position: relative;

    background-color: rgba(114, 114, 114, 0.8);
    border: 4px solid black;
    border-radius: 10px;

    transition-property: transform;
    transition-duration: 0.05s;
    transition-timing-function: linear;
}
.notification:hover {
    transform: scale(1.02, 1.02);
}

.user-name {
    padding-left: 10px;

    font-size: 24px;
    font-weight: bold;
}
.user-name img {
    height: 1em;
    width: 1em;
    display: inline-block;

    border: 2px solid black;
    border-radius: 100%;
}
.notification-type {
    padding-left: 0;

    font-size: 20px;
}
.notification input[type=button] {
    margin-left: 10px;
    float: right;

    width: 48px;
    height: 48px;

    color: #424242;
    font-size: 32px;

    background-color: #BEAF95;
    border: 2px solid black;
    border-radius: 25%;
}
.notification input[type=button]:hover {
    color: #2D2D2D;
    background-color: #AD9E84;
}
.comment {
    padding: 10px;
    background-color: rgba(86, 86, 86, 0.8);
}

.comment_link {
    color: lightgrey;
    font-style: italic;
    text-decoration: underline;
}

.notification-date {

}