.fav {
    position: fixed;
    width: 95%;
    height: 80%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    background-color: rgba(20, 20, 20, 0.9);

    overflow-y: scroll;

    color: lightgray;
    font-size: 30px;
    vertical-align: top;
}
.fav h1 {
    margin-left: 30px;
    color: lightgray;
    font-size: 60px;
}
.fav h1::after {
    content: " - Lejátszási lista";
    color: gray;
    font-size: 48px;
}
.fav video {
    width: 810px;
    height: 540px;
    margin: 20px;
    background-color: black;
}
.fav > div {
    position: relative;
}
.fav a {
    position: absolute;
    top: 20px;

    text-decoration: none;
    color: lightgray;
}
.fav hr {
    margin: 0 5px 5px 15px;
}

.fav button {
    float: right;
    margin: 20px;

    background-color: rgb(133, 128, 121);
    border: 2px solid black;

    font-size: 18px;
}
.fav button:hover {
    cursor: pointer;
    color: white;
    outline: 1px solid white;
}
.fav button:focus {
    color: white;
    outline: 2px solid white;
}