<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8" >
    <title>Watch me! - Kedvencek</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/playlist.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="fav">
        <h1>Kedvencek</h1>
        {% for video in videos %}
        <div>
            <hr>
            <video controls preload autoplay>
                <source src="../../../watch_me/media/{{ video.binary.name }}" type="video/mp4">
            </video>
            <a href="{% url 'watch_me:watch_video' video.id %}">{{ video.name }}</a>
        </div>
        {% endfor %}
    </div>

</body>
</html>