{% load static %}
<h2>Visszajelzések</h2>
{% if request.session.user_id == 4206969 %}
    {% if feedbacks|length > 0 %}
        {% for feedback in feedbacks %}
            <div class="rep-fb">
                Feladó: <b>{{ feedback.user }}</b><br>
                Dátum: <i>{{ feedback.date }}</i><br/>
                Értékelés: <strong>{{ feedback.rating }}</strong>/5 <em>v.{{ feedback.version }}</em>
                <p>
                    {{ feedback.text }}
                </p>
            </div>
        {% endfor %}
    {% else %}
        <p>Nincsenek visszajelzések</p>
    {% endif %}
{% else %}
    <h1>Nem vagy bejelentkezve!</h1>
{% endif %}