{% load static %}
<form method="post" action="send_report" style="display: none" id="report_form">
    {% csrf_token %}
    <div class="report">
        <span>
            Jelentés oka:
            <select name="report_type">
                {% for rep_type in report_types %}
                    <option value="{{ rep_type.id }}">{{ rep_type.name }}</option>
                {% endfor %}
            </select>
        </span>
        <textarea rows="5" cols="60" name="report_textarea"></textarea><br/>
        <input type="text" style="display: none" value="{{ video_id }}" name="video_id">
        <div>
            <button type="submit" onclick="hideJelentesForm()">Küldés</button>
            <button type="reset" onclick="hideJelentesForm()">Mégse</button>
        </div>
    </div>
</form>

<script>
    function showJelentesForm() {
        if (document.getElementById("report_form").style.display === "none")
            document.getElementById("report_form").style.display = "block"
        else if (document.getElementById("report_form").style.display === "block")
            document.getElementById("report_form").style.display = "none"
    }

    function hideJelentesForm() {
        document.getElementById("report_form").style.display = "none"
        document.getElementById("show_report_button").style.display = "inline"
    }
</script>