<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Watch me! - Bejelentkezés</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/data_form.css' %}">
</head>
<body>
    <div class="background"></div>

    {% include 'projectx/logo.html' %}

    <div class="data-container">
        <h1>Bejelentkezés</h1>
        <div class="data">
            <form method="post" action="login">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><label for="id_email">E-mail:</label></td>
                        <td><input type="email" id="id_email" name="email" maxlength="254"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Jelszó:</label></td>
                        <td><input type="password" id="id_password" name="password" maxlength="256"></td>
                    </tr>
                    <tr>
                        <th colspan="2"><input type="submit" value="Bejelentkezés"></th>
                    </tr>
                </table>
            </form>
            <div class="question">
                Még nem vagy regisztrálva? <a href="{% url 'watch_me:register' %}">Regisztrálj</a> most!
            </div>
        </div>
    </div>
</body>
</html>