<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8" >
    <title>Watch me! - Lejátszási listák</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/data_form.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="data-container">
        <h1>Lejátszási listák</h1>
        <div class="data">
            <div class="link-box">
                {% for ps in play_lists %}
                    <a href={% url 'watch_me:playlist' ps.id %}>{{ ps.name }} ({{ ps.net_view }} megtekintés)</a><hr>
                {% endfor %}
            </div>
            <div class="question">
                <div id="containerq">
                    <input type="button" value="➕ Lejátszási lista hozzáadása" onclick="add_playlist('show')" id="add_new">
                </div>
            </div>
        </div>
    </div>

    <script>
        function add_playlist(mode) {
            if (mode === "show") {
                textField = document.createElement("input")
                textField.type = "text"
                textField.id = "newnameField"
                document.getElementById("containerq").insertBefore(textField, document.getElementById("add_new"))
                document.getElementById("add_new").setAttribute("value", "✓")
                document.getElementById("add_new").setAttribute("onclick", `add_playlist("execute")`)
            } else {
                console.log("editing")
                if (document.getElementById("newnameField").value !== "") {
                    console.log(`Adding category ${document.getElementById("newnameField").value}`)
                    window.location.href = `/add_playlist/${document.getElementById("newnameField").value}`
                } else {
                    console.log("cancelled edit")
                    document.getElementById("newnameField").remove()
                    document.getElementById("add_new").setAttribute("value", "➕ Lejátszási lista")
                    document.getElementById("add_new").setAttribute("onclick", `add_playlist("show")`)
                }
            }
        }
    </script>

</body>
</html>


