<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Watch me! - {{ user.first_name }} {{ user.last_name }}</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/data_form.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="data-container">
        <h1>
            <div class="img-mask"><img src="../../../watch_me/media/{{ user.picture.name }}" alt="profile-picture"/></div>
            {{ user.first_name }} {{ user.last_name }}
        </h1>
        <div class="data profile">
            <table>
                <tr>
                    <td>E-mail:</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Ország:</td>
                    <td>{{ user.country_code }}</td>
                </tr>
                <tr>
                    <td>Regisztráció időpontja:</td>
                    <td>{{ user.reg_date }}</td>
                </tr>
                <tr>
                    <td>Legutóbb bejelentkezve:</td>
                    <td>{% if user.last_online == None %} Soha {% else %} {{ user.last_online }} {% endif %}</td>
                </tr>
                <tr>
                    <td>Felíratkozott személyek:</td>
                    <td><a href={% url 'watch_me:subscribers' user.id %}>{{ sub_count }} személy</a></td>
                </tr>
                <tr>
                    <td>Videók:</td>
                    {% if request.session.user_id == user.id %}
                        <td><a href="{% url 'watch_me:my_videos' %}">{{ video_count }} videó</a></td>
                    {% else %}
                        <td><a href="{% url 'watch_me:videos_user' user.id %}">{{ video_count }} videó</a></td>
                    {% endif %}
                </tr>
            </table>
            <div class="question">
                {% if user.id != request.session.user_id %}
                    {% if is_subbed %}
                        <a href="{% url 'watch_me:unsubscribe' user.id %}">Leíratkozás</a>
                    {% else %}
                        <a href="{% url 'watch_me:subscribe' user.id %}">Felíratkozás</a>
                    {% endif %}
                {% elif request.session.user_id == user.id %}
                    <button onclick="deleteProfile()">Profil törlése</button>
                    <script>
                        function deleteProfile() {
                            let text = "Biztos, hogy törölni szeretnéd a profilod?";
                            if (confirm(text) === true) {
                                alert(`{{ user.first_name }} {{ user.last_name }} sikeresen törölve!`);
                                window.location.replace(window.location.href.replace("profile", "delete_profile/" + {{ user.id }}));
                            }
                        }
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>