<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Watch me! - Regisztráció</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/data_form.css' %}">
</head>
<body>
    <div class="background"></div>

    {% include 'projectx/logo.html' %}

    <div class="data-container">
        <h1>Regisztráció</h1>
        <div class="data">
            <form method="post" action="register" enctype="multipart/form-data">
            {% csrf_token %}
                <table>
                    <tr>
                        <td><label for="id_first_name">Vezetéknév:</label></td>
                        <td><input type="text" id="id_first_name" name="first_name" maxlength="20"></td>
                    </tr>
                    <tr>
                        <td><label for="id_last_name">Keresztnév:</label></td>
                        <td><input type="text" id="id_last_name" name="last_name" maxlength="20"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Jelszó:</label></td>
                        <td><input type="password" id="id_password" name="password" maxlength="30"></td>
                    </tr>
                    <tr>
                        <td><label for="id_re_password">Jelszó újra:</label></td>
                        <td><input type="password" id="id_re_password" name="re_password" maxlength="30"></td>
                    </tr>
                    <tr>
                    <tr>
                        <td><label for="id_email">E-mail:</label></td>
                        <td><input type="email" id="id_email" name="email" maxlength="100"></td>
                    </tr>
                    <tr>
                        <td><label for="id_{{ field.name }}">Ország:</label></td>
                        <td>
                            {% for field in form %}
                                {% if field.name == 'country_code' %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_picture">Profilkép kiválasztása:</label></td>
                        <td><input type="file" accept="image/png, image/jpeg" id="id_picture" name="p_pic"/></td>
                    </tr>
                    <tr>
                        <th colspan="2"><input type="submit" value="Regisztrálás"></th>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>