{% load static %}
<h2>Feljelentések</h2>
{% if request.session.user_id == 4206969 %}
    {% if reports|length > 0 %}
        {% for report in reports %}
            <a href="{% url 'watch_me:watch_video' report.video_id %}">
                <div  class="rep-fb">
                    Videó: <strong>{{ report.video_title }}</strong><br/>
                    Dátum: <i>{{ report.date }}</i><br/>
                    Típus: <b>{{ report.type }}</b><br/>
                    <p>
                        {{ report.text }}
                    </p>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>Nincsenek feljelentések</p>
    {% endif %}
{% else %}
    <h1>Nem vagy bejelentkezve!</h1>
{% endif %}