<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8" >
    <title>Watch me!</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="videos">
        {% for res in result %}
            {% if res.t == 'VIDEO' %}
                <a href="{% url 'watch_me:watch_video' res.id %}" class="video-card">
                    <img src="../../../watch_me/media/{{ res.thumbnail.name }}" alt="thumbnail">
                    <div class="video-title">{{ res.name }}</div>
                    <div class="video-author">{{ res.uploader.first_name }} {{ res.uploader.last_name }}</div>
                </a>
            {% elif res.t == 'USER' %}
                <a href="{% url 'watch_me:profile' res.id %}" class="video-card">
                    <img src="../../../watch_me/media/{{ res.picture.name }}" alt="{{ res.first_name }} {{ res.last_name }}">
                    <div class="video-title">{{ res.first_name }} {{ res.last_name }}</div>
                    <div class="safe-space"></div>
                </a>
            {% elif res.t == 'PLAYLIST' %}
                <a href="{% url 'watch_me:playlist' res.id %}" class="video-card">
                    <img src="{% static 'pictures/icons/playlist-icon.png' %}" alt="thumbnail">
                    <div class="video-title">{{ res.name }}</div>
                    <div class="safe-space"></div>
                </a>
            {% endif %}
        {% endfor %}
    </div>

    {% include "projectx/send_feedback.html" %}
</body>
</html>