{% load static %}
<form method="get" action="search" class="search-bar">
    <label for="search"></label><input type="text" id="search" name="query" placeholder="Keresés...">
    <input type="submit" value="" class="magnifying-glass" id="search_button">
</form>