{% load static %}
<footer>
    <div id="show_button">
        {% if request.session.user_id > 0 %}
            <button onclick="showFeedback()">Küldj Visszajelzést!</button>
        {% else %}
            <p>Visszajelés küldéséhez be kell jelentkezned!</p>
        {% endif %}
    </div>
    <form method="post" action="send_feedback" style="display: none" id="feedback_form">
        {% csrf_token %}
        <div class="feedback-section">
                <span>
                    Küldj Visszajelzést:
                    <input type="radio" name="rating" value="1" id="rating1"><label for="rating1">★</label>
                    <input type="radio" name="rating" value="2" id="rating2"><label for="rating2">★</label>
                    <input type="radio" name="rating" value="3" id="rating3" checked="checked"><label for="rating3">★</label>
                    <input type="radio" name="rating" value="4" id="rating4"><label for="rating4">★</label>
                    <input type="radio" name="rating" value="5" id="rating5"><label
                        for="rating5">★</label>
                </span>
            <textarea rows="5" cols="60" name="feedback_textarea"></textarea><br/>
            <span>
                    <button type="submit" onclick="hideFeedback()">Küldés</button>
                    <button type="reset" onclick="hideFeedback()">Mégse</button>
                </span>
        </div>
    </form>
    <script>
        function showFeedback() {
            document.getElementById("feedback_form").style.display = "block"
            document.getElementById("show_button").style.display = "none"
        }

        function hideFeedback() {
            document.getElementById("feedback_form").style.display = "none"
            document.getElementById("show_button").style.display = "inline"
        }
    </script>
</footer>