<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8" >
    <title>Watch me! - Felíratkozók</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/data_form.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="data-container">
        <h1>Felíratkozott személyek</h1>
        <div class="data">
            <div class="link-box">
                {% for sub in subs %}
                    <a href={% url 'watch_me:profile' sub.id %}> {{ sub.first_name }} {{ sub.last_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>