<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Videó feltöltése</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/data_form.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="data-container">
        <h1>Videó feltöltése</h1>
        <div class="data profile">
            <form method="post" action="upload_video" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="upload-video">
                    <tr>
                        <td><label for="id_name">Videó címe:</label></td>
                        <td><input type="text" id="id_name" name="v_name" maxlength="50"></td>
                    </tr>
                    <tr>
                        <td><label for="id_video">Fájl kiválasztása:</label></td>
                        <td><input type="file" accept="video/mp4,video/x-m4v,video/*" id="id_video" name="v_video"></td>
                    </tr>
                    <tr>
                        <td><label for="id_thumbnail">Indexkép:</label></td>
                        <td><input type="file" accept="image/x-png,image/gif,image/jpeg" id="id_thumbnail" name="v_tn"></td>
                    </tr>
                    <tr>
                        <td><label for="id_desc">Leírás:</label></td>
                        <td><input type="text" id="id_desc" name="v_desc" maxlength="255"></td>
                    </tr>
                    <tr>
                    <tr>
                        <td><label for="id_comment">Hozzászólások engedélyezése:</label></td>
                        <td>
                            <input type="checkbox" checked="checked" id="id_comment" name="v_comment">
                            <div class="checkmark"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_{{ field.name }}" >Kategória:</label></td>
                        <td>
                            {% for field in video_form %}
                                {% if field.name == 'category' %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><label for="id_tags" class="tooltip">Címkék:<span class="tooltiptext">Vesszővel elválasztva, pl:<br>game,tutorial</span></label></td>
                        <td><input type="text" id="id_tags" name="v_tags" maxlength="255"></td>
                    </tr>
                    <tr>
                        <th colspan="2"><input type="submit" value="Feltöltés"></th>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>