<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Watch me! - Videóim</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="videos">
            {% for video in videos %}

            <div class="video-card">
                <a href="{% url 'watch_me:watch_video' video.id %}">
                    <img src="../../../watch_me/media/{{ video.thumbnail.name }}" alt="thumbnail">
                    <div class="video-title">{{ video.name }}</div>
                    <div class="video-author">{{ video.uploader.first_name }} {{ video.uploader.last_name }}</div>
                </a>
            </div>

            {% endfor %}
    </div>
    {% include "projectx/send_feedback.html" %}
</body>
</html>